:root{
    --primary-color: rgb(255, 223, 43);
    --secondary-color: rgb(242, 232, 197);
}

/* main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.movie{
    width: 300px;
    border-radius: 5px;
    box-shadow: 0.2px 4px 5px rgb(255, 223, 43, 1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

/* .movie img{
    padding: ;
} */

.movie-info{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.24rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

