@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{ 
    margin: 0;
    padding: 0;
}
body{
   background-color:#222222;
}
/* fonte resilia */
.fonteResilia{
    font-family: 'Arimo', sans-serif;
}
/* header */
/*logo menu*/
.logomenu{
    width: 250px;
}
/* main */
.logo{
    display: block;
    width: 250px;
    height: 250px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn{
    background-color: #FFDF2B;
    transition: ease-in-out;
}
.bnt:hover{
    background-color: #C0A405;
    transition: ease-in-out;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #C0A405;
}
label, input{
    color: #F2E8E4;
}
.bntlogin{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
}
.check{
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar{
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link  {
    color: #F2E8E4;
}
.navbar-light .navbar-brand {
    color: #F2E8E4;
}
.imgBusca{
    width: 25px;
    height: 25px;
}
/*css da pag recuperaçãoSenha*/
h1{
    color: #F2E8E4;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}
.bntSenha{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}
/* css da pág 404 not found */
.notfound{
    display: flex;
    width: 1000px;
    height: 1000px;
    margin: -200px 0 0 200px;
}
.robo{
    display: flex;
    width: 700px;
    height: 600px;
    margin: -750px 0 0 250px;
}
/* css do error do login e senha*/
label.error { 
    color: #ffdf2b;
}
<<<<<<< HEAD

/*rodape*/
.rodape p1{
    text-align: center;
    bottom: 0;
    left: 41%;
    height: 40px;
    position: relative;
    width: 100%;
    background-color:#242424;
    color:#FFDF2B; 
    
}
=======
/* css da pag home */
.fitaImg{
    display: inline-block;
    width: 100%;
    margin: -200px 0 0 200px;
    
}
.imgPlataforma{
    display: inline-block;
    width: 800px;
    height: 800px;
    margin: -790px 0 0 420px;
}
.carousel-inner{
    display: flex;
    margin: -200px 0 0 0;
}
/* busca*/
.form-control {
    width: 300px;
    background-color: #222222;
    color: #F2E8E4;
    cursor: pointer;
    border-color: #fff236;
}

.titulo-carrosel{
    color: wheat;
}
.imagem-carrossel {
    object-fit: cover;
    object-position: 0 50%;
    height: 300px;
    background-color: black;
    opacity: 0.6;
}
.imagem-carrossel-um {
    object-fit: cover;
    object-position: 0 25%;
    height: 300px;
    background-color: black;
    opacity: 0.6;
}
.imagem-carrossel-dois {
    object-fit: cover;
    object-position: 0 65%;
    height: 300px;
    background-color: black;
    opacity: 0.6;
}
.imagem-carrossel-tres {
    object-fit: cover;
    object-position: 0 45%;
    height: 300px;
    background-color: black;
    opacity: 0.6;
}
.imagem-carrossel-quatro {
    object-fit: cover;
    object-position: 0 5%;
    height: 300px;
    background-color: black;
    opacity: 0.6;
}
.imagem-carrossel-cinco {
    object-fit: cover;
    object-position: 0 50%;
    height: 300px;
    background-color: black;
    opacity: 0.6;
}
.imagem-carrossel-seis {
    object-fit: cover;
    object-position: 0 35%;
    height: 300px;
    background-color: black;
    opacity: 0.6;
}
.imagem-carrossel-sete {
    object-fit: cover;
    object-position: 0 5%;
    height: 300px;
    background-color: black;
    opacity: 0.6;
}
.imagem-carrossel-oito {
    object-fit: cover;
    object-position: 0 5%;
    height: 300px;
    background-color: black;
    opacity: 0.6;
}


>>>>>>> 41eb4f44c86b2f93bfb94bab2c291089bed013d2
